
// > Autocomplete
// ----------------------------------------------------------------
// $autocomplete-highlighted: $main-secondary-color;
// $autocomplete-trigger-cursor: pointer;
// $autocomplete-padding: 0;
// $autocomplete-highlighted-border-radius: 5px;
// $autocomplete-loading-position-right: 10px;


// > Base
// ----------------------------------------------------------------
// $actions-box-margin: 20px 0 0 0;
// $action-box-links-margin: 0 0 0 15px;


// > Boxes
// ----------------------------------------------------------------
// $box-error-bg-color: $error-bg-color;
// $box-error-text-color: #b84a46;
// $box-error-visited-text-color: $main-primary-color;
// $box-help-bg-color: $gray-100;
// $box-help-text-color: $gray-800;
// $box-info-bg-color: #e4f2f9;
// $box-info-text-color: #3a87ad;
// $box-info-link-text-decoration: underline;
// $box-warning-bg-color: #fff0ba;
// $box-warning-text-color: #aa8749;
// $icon-warning-text-color: #f5cc00;
// $box-ok-bg-color: #e9f4e4;
// $box-ok-text-color: #468847;
// $box-lite-bg-color: $main-neutral-color;
// $box-border: 1px solid $main-border-color;
// $box-margin: 0 0 10px 0;
// $box-padding: 10px;
// $box-border-radius: 5px;


// > Bubble
// ----------------------------------------------------------------
// $bubble-bg-color: $error-bg-color;
// $bubble-border-color: #eed3d7;
// $bubble-border: 1px solid $bubble-border-color;
// $bubble-text-size: $font__smaller;
// $bubble-padding: 5px 5px 5px 25px;
// $bubble-icon-error-top: 2px;
// $bubble-icon-error-left: 0px;


// > Buttons
// ----------------------------------------------------------------
// $btn-text-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
// $btn-border-radius: 4px;
// $btn-box-shadow: none;
// $btn-text-decoration: none;
// $btn-text-size: $font__large;
// $btn-large-text-size: $font__x__large;
// $btn-cursor: pointer;
// $btn-primary-text-color: $main-neutral-color;
// $btn-primary-bg-color: #3e52a1;
// $btn-primary-bg-color-secondary: #2d3277;
// $btn-primary-active: #29358f;
// $btn-primary-border: 1px solid #2d3277;
// $btn-primary-shadow: #8ea2df;
// $btn-primary-box-shadow: 0 1px 0 #7a89e8 inset;
// $btn-primary-box-hover: #4051d0;
// $btn-primary-box-hover-bg-color: #4355d2;
// $btn-primary-box-hover-bg-color-secondary: #2f33ae;
// $btn-primary-hover-box-shadow: 0 1px 0 #7a89e8 inset;
// $btn-primary-active-bg-color: #292f66;
// $btn-primary-active-bg-color-secondary: #202388;
// $btn-primary-active-border: #181e39;
// $btn-primary-active-box-shadow: 0 1px 6px #141452 inset;
// $btn-secondary-text-color: #476274;
// $btn-secondary-bg-color: #cce3f7;
// $btn-secondary-bg-color-secondary: #aaD0ef;
// $btn-secondary-border: 1px solid #79a8c7;
// $btn-secondary-active: #7c9cB2;
// $btn-secondary-shadow: none;
// $btn-secondary-box-shadow: 0 1px 0 #e5f2fc inset;
// $btn-secondary-text-shadow: 0 1px 1px $main-text-shadow-color;
// $btn-secondary-hover-bg-color: #dcecfb;
// $btn-secondary-hover-bg-color-secondary: #c5dff5;
// $btn-secondary-hover-box-shadow: 0 1px 0 #e5f2fc inset;
// $btn-secondary-active-bg-color: #a2c9e1;
// $btn-secondary-active-bg-color-secondary: #7ab6dc;
// $btn-secondary-shadow-active: #476274;
// $btn-secondary-border-active: #79a8c7;
// $btn-secondary-active-box-shadow: 0 1px 6px #476274 inset;
// $btn-disabled-bg-color: $gray-50;
// $btn-disabled-bg-color-secondary: $gray-400;
// $btn-disabled-border: 1px solid $gray-500;
// $btn-disabled-text-shadow: none;
// $btn-disabled-text-color: $gray-700;
// $btn-disabled-opacity: 0.5;
// $btn-disabled-box-shadow: 0 1px 1px $main-neutral-color;
// $btn-outline-style: thin dotted;
// $btn-outline: 5px auto -webkit-focus-ring-color;
// $btn-outline-offset: -2px;
// $btn-ie-filter-start-bg-color: #3e52a1;
// $btn-ie-filter-end-bg-color: #2d3277;
// $btn-hover-ie-filter-start-bg-color: #4355d2;
// $btn-hover-ie-filter-end-bg-color: #2f33ae;
// $btn-active-ie-filter-start-bg-color: #0f1534;
// $btn-active-ie-filter-end-bg-color: #171c41;
// $btn-skin-ie-filter-start-bg-color: #cce3f7;
// $btn-skin-ie-filter-end-bg-color: #aad0ef;
// $btn-skin-hover-ie-filter-start-bg-color: #dcecfb;
// $btn-skin-hover-ie-filter-end-bg-color: #c5dff5;
// $btn-skin-active-ie-filter-start-bg-color: #a2c9e1;
// $btn-skin-active-ie-filter-end-bg-color: #7db7dc;
// $btn-skin-disabled-ie-filter-start-bg-color: $main-neutral-color;
// $btn-skin-disabled-ie-filter-end-bg-color: #e6e6e6;
// $btn-skin-disabled-ie-opacity: 50;
// $btn-line-height: 20px;
// $btn-padding: 5px 10px;
// $btn-margin: 0 7px 0 0;
// $btn-large-line-height: 1.25em;
// $btn-large-padding: 6px 12px;
// $btn-small-text-size: $font__smaller;
// $btn-small-line-height: 12px;
// $btn-small-padding: 5px 8px;


// > Calendar
// ----------------------------------------------------------------
// $calendar-border: 1px solid $main-border-color;
// $calendar-text-align: center;
// $calendar-title-bg-color: $gray-100;
// $calendar-title-shadow: 0 1px 0 $main-neutral-color;
// $calendar-day-cursor: default;
// $calendar-day-today-bg-color: #fefbd6;
// $calendar-day-empty-color: $gray-500;
// $calendar-day-empty-cursor: default;
// $calendar-day-disabled-bg-color: $main-neutral-color;
// $calendar-day-disabled-text-color: $gray-500;
// $calendar-day-selected-bg-color: $gray-700;
// $calendar-day-selected-text-color: $main-neutral-color;
// $calendar-day-selected-text-weight: bold;
// $calendar-head-control-pointer: pointer;
// $calendar-head-control-icon-color: $gray-800;
// $calendar-head-control-icon-shadow: 0 1px $main-neutral-color;
// $calendar-head-control-prev-icon-position: 15px;
// $calendar-head-control-next-icon-position: 15px;
// $calendar-text-size: $font__smaller;
// $calendar-width: 240px;
// $calendar-title-text-size: $font__normal;
// $calendar-title-line-heigth: 28px;
// $calendar-day-height: 26px;
// $calendar-day-line-height: 26px;
// $calendar-head-text-size: $font__smallest;
// $calendar-head-text-weight: normal;
// $calendar-head-control-padding: 0px 20px;
// $calendar-head-control-height: 28px;
// $calendar-head-control-line-height: 18px;
// $calendar-head-control-font-size: .9em;


// > Carousel
// ----------------------------------------------------------------
// $carousel-mask: 0 50px;
// $carousel-control-cursor: pointer;
// $carousel-control-color: $gray-800;
// $carousel-control-font-size: 2em;
// $carousel-control-line-height: 3.3em;
// $carousel-control-hover: 0.7;
// $carousel-pagination-bg-color: $gray-100;
// $carousel-pagination-shadow: inset 1px 1px $gray-700;
// $carousel-pagination-selected-bg-color: #16232f;
// $carousel-control-margin: -40px 0 0 0;
// $carousel-control-vertical-position: 50%;
// $carousel-control-width: 47px;
// $carousel-control-height: 80px;
// $carousel-control-position: 17px;
// $carousel-pagination-width: 10px;
// $carousel-pagination-height: 10px;
// $carousel-pagination-margin: 10px 5px;


// > Close
// ----------------------------------------------------------------
// $close-button-width: 16px;
// $close-button-height: 16px;
// $close-button-bg-color: transparent;
// $close-button-cursor: pointer;
// $close-button-text-indent: 0;
// $close-button-font-family: Arial, sans-serif;
// $close-button-font-size: 20px;
// $close-button-line-height: $close-button-height;
// $close-button-active-text-color: $main-neutral-color;
// $close-button-active-bg-color: #bf0602;
// $close-button-active-bg-color-secondary: #8f2f00;
// $close-button-focus-hover-text-color: $main-neutral-color;
// $close-button-focus-hover-bg-color: #fA5900;
// $close-button-focus-hover-bg-color-secondary: #ca0c02;
// $close-button-border: 1px solid $main-border-color;
// $close-button-border-radius: 3px;
// $close-button-position-right: 10px;
// $close-button-position-top: 10px;
// $close-button-text-shadow: 0 1px 0 rgba(0,0,0,.5);


// > Datagrid
// ----------------------------------------------------------------
// $table-border: 1px solid $main-border-color;
// $table-text-align: left;
// $table-title-text-align: left;
// $table-title-text-weight: normal;
// $table-header-bg-color: $gray-100;
// $table-header-row-border: 1px solid $main-border-color;
// $table-header-row-border-left: 1px solid $main-border-color;
// $table-header-row-text-align: left;
// $table-header-row-text-shadow: 0 1px 0 $main-neutral-color;
// $table-header-row-v-align: middle;
// $table-header-row-color: #666;
// $table-row-selected-bg-color: $main-secondary-color;
// $table-row-border: 1px solid $main-border-color;
// $table-header-controls-bg-color: $gray-50;
// $table-header-controls-bg-color-secondary: $gray-200;
// $table-header-controls-hover-bg-color: $gray-50;
// $table-header-controls-active-bg-color: $gray-400;
// $table-header-controls-active-border: 1px solid $main-border-color;
// $table-title-margin: 10px 0;
// $table-title-text-size: $font__large;
// $table-header-row-text-size: $font__smallest;
// $table-header-row-line-height: 26px;
// $table-header-row-padding: 0 10px;
// $table-row-selected-height: 40px;
// $table-row-selected-padding: 0 10px;
// $table-row-selected-v-align: middle;


// > Dropdown
// ----------------------------------------------------------------
// $list-item-color: $main-neutral-accent-color;
// $list-item-decoration: none;
// $list-item-focus-bg-color: #fefbd6;
// $list-item-focus-outline: none;
// $trigger-active-bg-color: #7ab6dc;
// $trigger-active-bg-color-top: #a2c9e1;
// $trigger-active-border-color: #79a8c7;
// $trigger-active-border-radius: 3px 3px 0 0;
// $trigger-active-border: $main-border-color;
// $trigger-active-box-shadow: 0 1px 6px rgba(71, 98, 116, .6);
// $skin-list-item-bg-color: none;
// $skin-list-item-color: $main-primary-color;
// $trigger-skin-bg-color: transparent;
// $trigger-skin-border: 1px solid transparent;
// $trigger-skin-border-radius: 0;
// $trigger-skin-text-color: $main-primary-color;
// $trigger-skin-text-decoration: none;
// $trigger-skin-after-text-color: $gray-700;
// $trigger-skin-active-text-color: #00d;
// $trigger-on-skin-bg-color: $main-neutral-color;
// $trigger-on-skin-border: $gray-400;
// $trigger-on-skin-border-radius: 0;
// $trigger-on-skin-box-shadow: 2px 0 0 rgba(100, 100, 100, .2);
// $dropdown-trigger-cursor: pointer;
// $dropdown-trigger-padding: 5px 2em 5px 8px;
// $dropdown-border-radius: 0 5px 5px;
// $dropdown-box-shadow: inset 2px 2px 2px rgba(100, 100, 100, .2);
// $box-content-min-width: 120px;
// $list-item-height: 25px;
// $list-item-line-height: 25px;
// $list-item-margin: 5px 0;
// $list-item-padding: 2px 35px 2px 10px;
// $skin-box-padding: 5px 10px;
// $skin-list-item-margin: 5px 0;
// $skin-list-item-line-height: 20px;
// $skin-list-item-padding: 0;
// $trigger-skin-padding: 0 28px 0 13px;
// $trigger-skin-border-width: 0 1px;


// > Form
// ----------------------------------------------------------------
// $fieldset-border: none;
// $fieldset-margin: 0;
// $fieldset-padding: 0;
// $legend-margin: 0;
// $legend-padding: 0;
// $form-actions-text-align: left;
// $generic-input-border: 1px solid $gray-500;
// $generic-input-padding: 6px;
// $generic-input-focus-border: 2px solid $gray-700;
// $generic-input-focus-padding: 5px;
// $input-options-focus-outline: 1px dotted $gray-700;
// $input-options-subtitle-margin: 0 0 15px -20px;
// $input-required-options-subtitle-font-weight: bold;
// $input-options-label-padding: 0 0 0 22px;
// $input-options-label-margin: 0;
// $input-radio-margin: -9px 0 0 0;
// $input-checkbox-margin: -8px 0 0 0;
// $input-read-only-border: none;
// $input-read-only-padding: 5px 0;
// $input-inner-icon-opacity: .3;
// $input-inner-icon-focus-opacity: .7;
// $input-inner-icon-padding-right: 24px;
// $input-big-inner-icon-padding-right: 30px;
// $input-big-inner-icon-focus-padding-right: 29px;
// $icon-required-position: 3px;
// $form-fieldset-margin: 0 0 10px 0;
// $fieldset-title-text-color: #dc7b1c;
// $fieldset-title-text-weight: bold;
// $fieldset-subtitle-text-size: 13px;
// $fieldset-subtitle-text-weight: 700;
// $form-hint-text-color: $gray-700;
// $form-hint-text-size: 12px;
// $form-hint-line-heigth: 12px;
// $input-row-padding: 5px 0;
// $input-row-label-padding: 7px 11px 5px 0;
// $input-row-label-required-text-weight: bold;
// $input-select-multiple-margin: 10px 0 0 0;
// $input-disabled-label-color: $gray-700;
// $input-disabled-bg-color: $gray-100;
// $input-big-padding: 12px 10px;
// $input-big-margin: 5px 0;
// $input-big-border-radius: 3px;
// $input-big-focus-padding: 11px 9px;
// $input-error-border-color: #f99;
// $input-error-focus-border-width: 2px;
// $form-input-text-size: $font__normal;
// $form-input-margin: 5px 0;
// $form-legend-padding: 0 0 15px 0;
// $form-label-text-size: $font__normal;
// $form-label-text-align: right;
// $form-label-width: 130px;
// $form-label-disabled-text-color: $gray-700;
// $form-checkbox-inline-margin: 0 0 0 11px;
// $form-select-margin: 5px 0;
// $form-hint-margin: 0 0 0 145px;
// $form-options-margin: 0 0 15px 20px;
// $form-options-subtitle-margin: 0 0 15px 0;
// $form-actions-margin: 0 0 0 145px;
// $ie-form-input-radio-margin: -11px 0 0 0;
// $ie-form-input-checkbox-margin: -11px 0 0 0;


// > Icons
// ----------------------------------------------------------------
// $icon-medium: 19px;
// $icon-large: 26px;
// $icon-larger: 34px;
// $icon-largest: 66px;
// $icon-medium-box: 16px;
// $icon-large-box: 24px;
// $icon-larger-box: 32px;
// $icon-largest-box: 64px;


// > Layer
// ----------------------------------------------------------------
// $layer-box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);


// > Lists
// ----------------------------------------------------------------
// $unordered-list-icon: disc inside;
// $ordered-list-icon: decimal inside;
// $list-margin: 0 0 10px 0;
// $definition-list-margin: 0 0 18px 0;
// $definition-description-margin: 5px 0 10px 10px;
// $definition-term-text-weight: bold;
// $list-item-margin: 0 0 0 10px;
// $list-item-padding: 3px 0;
// $list-item-line-height: 18px;
// $definition-list-elements-line-height: 18px;


// > Modal
// ----------------------------------------------------------------
// $modal-underlay-bg-color: rgba(0, 0, 0, .5);
// $modal-box-shadow: 0 3px 14px $gray-900;
// $modal-padding: 20px;
// $modal-lite-padding: 40px;
// $modal-lite-title-margin: 0;


// > Pagination
// ----------------------------------------------------------------
// $pagination-page-bg-color: $main-neutral-color;
// $pagination-page-border: 1px solid $main-border-color;
// $pagination-current-page-border: 1px solid $gray-200;
// $pagination-current-page-bg-color: $gray-100;
// $pagination-current-page-text-color: $gray-800;
// $pagination-padding: 0;
// $pagination-margin: 10px 0;
// $pagination-page-margin: 0 4px;
// $pagination-page-border-radius: 3px;
// $pagination-page-padding: 5px 8px;
// $pagination-current-hover-bg-color: $main-border-color;
// $pagination-current-hover-border: 1px solid $main-border-color;
// $pagination-current-hover-text-color: $main-primary-color;
// $pagination-next-and-prev-border: $main-neutral-color;
// $pagination-next-and-prev-hover-border: $main-primary-color;
// $pagination-to-select-hover-bg-color: #2b37b2;
// $pagination-to-select-hover-border: #2b37b2;
// $pagination-to-select-hover-text-color: $main-neutral-color;


// > Popover
// ----------------------------------------------------------------
// $popover-box-shadow: 2px 2px 2px rgba(100, 100, 100, .2);
// $popover-close-btn-margin: 0 24px 0 0;
// $popover-border-width: 1px;
// $popover-cone-size: 10px;
// $popover-border-color: $main-border-color;
// $popover-content-bg-color: $main-neutral-color;


// > Reset
// ----------------------------------------------------------------
$theme-body-font-size: 14px;
$theme-body-line-height: 1.4;
$theme-body-font-family: "Helvetica Neue", Helvetica, "Arial", sans-serif;
// $theme-body-padding: 0 10px;
// $theme-body-bg-color: #fff;
// $theme-text-color: #333;
// $theme-horizontal-line: 1px dashed #ccc;
// $theme-paragraph-spacing: 1em 0 0 0;


// > Tooltip
// ----------------------------------------------------------------
// $tooltip-bg-color: #fcf8e3;
// $tooltip-border-color: #fbeed5;
// $tooltip-text-color: #aa8749;
// $tooltip-padding: 8px 10px;
// $tooltip-border-radius: 5px;


// > Transition
// ----------------------------------------------------------------
// $transition-padding: 40px;
// $transition-box-shadow: 0 3px 14px $gray-900;


// > Typography
// ----------------------------------------------------------------
$headings-margin: 14px 0;
// $headings-text-weight: normal;
// $headings-boxes-margin-top: 0;
$heading-h1: 28px;
$heading-h2: 26px;
$heading-h3: 22px;
$heading-h4: 17px;
$heading-h5: 15px;
$heading-h6: 14px;
// $links-visited-text-decoration: underline;
// $links-visited-color: #809;
// $price-color: #900;


// > Datepicker
// ----------------------------------------------------------------
// $datepicker-day-hover-bg-color: $main-secondary-color;
// $datepicker-day-hover-text-color: $main-text-color;
// $datepicker-bg-image: none;
// $datepicker-bg-color: $main-neutral-color;
// $datepicker-border: 1px solid $main-border-color;
// $datepicker-min-width: 240px;


// > Expandable
// ----------------------------------------------------------------
// $expandable-trigger-text-color: $main-primary-color;
// $expandable-trigger-cursor: pointer;
// $expandable-trigger-active-text-color: #00D;
// $expandable-trigger-visited-text-color: #809;
// $expandable-trigger-visited-text-decoration: underline;
// $expandable-trigger-padding: 0 0 0 16px;
// $expandable-trigger-text-size: $font__normal;


// > Menu
// ----------------------------------------------------------------
// $menu-max-width: 300px;
// $menu-margin: 0;
// $menu-padding: 0;
// $menu-boder-radius: 5px;
// $menu-item-text-color: $gray-900;
// $menu-item-padding: 5px 10px;
// $menu-hover-bg-color: $main-secondary-color;
// $menu-box-shadow: 0 8px 4px -4px #eee;
// $menu-expandable-margin: 5px 0;
// $menu-nojs-padding: 2px 15px;
// $menu-nojs-item-hover-bg-color: $gray-100;
// $menu-nojs-item-hover-border-radius: 5px;


// > Tabs
// ----------------------------------------------------------------
// $tab-border-width: 1px;
// $tab-border: $tab-border-width solid $gray-400;
// $tab-bg-color: $main-neutral-color;
// $tab-border-radius: 5px 5px 0 0;
// $tab-cursor: pointer;
// $tab-text-decoration: none;
// $tab-text-color: $gray-900;
// $tab-hover-bg-color: $gray-100;
// $tab-active-bg-color: $gray-100;
// $tab-trigger-bg-color: $gray-100;
// $tab-trigger-bg-color-secondary: $main-neutral-color;
// $tab-trigger-border-bottom: 1px solid $main-neutral-color;
// $tab-trigger-text-weigth: bold;
// $tab-trigger-box-shadow: 2px 0 2px $main-text-shadow-color;
// $tabs-component-margin: 10px 0;
// $tab-margin: 0 0 0 2px;
// $tab-group-margin: 0 0 0 10px;
// $tab-padding: 3px 12px;


// > Wizard
// ----------------------------------------------------------------
// $wizard-bg-color: $main-neutral-color;
// $wizard-border-color: $main-border-color;
// $wizard-border: 1px solid $wizard-border-color;
// $wizard-border-radius: 5px;
// $wizard-actions-bg-color: $gray-100;
// $wizard-actions-border: 1px solid $main-border-color;
// $wizard-actions-border-radius: 0 0 5px 5px;
// $wizard-breadcrumb-border-bottom: 1px solid $main-border-color;
// $wizard-breadcrumb-text-position: center;
// $wizard-breadcrumb-text-color: $gray-500;
// $wizard-breadcrumb-height: 42px;
// $wizard-breadcrumb-border-color: $gray-400;
// $wizard-breadcrumb-current-text-weight: bold;
// $wizard-breadcrumb-current-text-color: $gray-900;
// $wizard-breadcrumb-pointer-content-color: $gray-100;
// $wizard-breadcrumb-link-bg-color: $wizard-actions-bg-color;
// $wizard-margin: 0 0 10px 0;
// $wizard-actions-padding: 10px 20px;


// > Zoom
// ----------------------------------------------------------------
// $zoom-cursor: crosshair;
// $zoom-seeker-border: 1px solid $main-border-color;
// $zoom-seeker-bg-color: rgba(240, 240, 240, .4);
// $zoom-seeker-ie-bg-color: $gray-100;
// $zoom-seeker-ie-opacity: 50;
// $zoom-loading-border: 1px solid $main-border-color;
// $zoom-loading-border-radius: 5px;
// $zoom-loading-text-size: $font__smallest;
// $zoom-loading-text-color: $gray-900;
// $zoom-loading-bg-color: rgba(240, 240, 240, .75);
// $zoom-loading-ie-bg-color: $gray-100;
// $zoom-loading-ie-opacity: 90;
// $zoom-area-border: 1px solid $main-border-color;
// $zoom-area-bg-color: $main-neutral-color;
// $zoom-loading-size: 100px;


