
// > Autocomplete
// ----------------------------------------------------------------
// $autocomplete-highlighted: $main-secondary-color;
// $autocomplete-trigger-cursor: pointer;
// $autocomplete-padding: 0;
// $autocomplete-highlighted-border-radius: 5px;
// $autocomplete-loading-position-right: 10px;
// $autocomplete-item-border-radius: 0;
// $autocomplete-item-border-bottom: 1px dotted $main-border-color;
// $autocomplete-item-line-height: 45px;
// $autocomplete-item-text-indent: 12px;
// $autocomplete-line-height: 45px;
// $autocomplete-lastitem-border-bottom-left: 5px;
// $autocomplete-lastitem-border-bottom-right: 5px;
// $autocomplete-item-icon-border-radius: 3px;
// $autocomplete-item-icon-color: $gray-100;
// $autocomplete-item-icon-bg-color: $gray-500;
// $autocomplete-item-icon-width: 40px;
// $autocomplete-item-icon-height: 40px;
// $autocomplete-text-shadow: 0 1px 0 $main-text-shadow-color;
// $autocomplete-item-icon-before-text-color: $gray-100;
// $autocomplete-item-icon-before-text-size: 30px;
// $autocomplete-item-icon-before-line-height: 50px;
// $autocomplete-item-icon-before-text-indent: 10px;


// > Base
// ----------------------------------------------------------------
// $actions-box-margin: 20px 0 0 0;
// $action-box-links-margin: 0 0 0 15px;


// > Boxes
// ----------------------------------------------------------------
// $box-error-bg-color: $error-bg-color;
// $box-error-text-color: #b84a46;
// $box-error-visited-text-color: $main-primary-color;
// $box-help-bg-color: $gray-100;
// $box-help-text-color: $gray-800;
// $box-info-bg-color: #e4f2f9;
// $box-info-text-color: #3a87ad;
// $box-info-link-text-decoration: underline;
// $box-warning-bg-color: #fff0ba;
// $box-warning-text-color: #aa8749;
// $icon-warning-text-color: #f5cc00;
// $box-ok-bg-color: #e9f4e4;
// $box-ok-text-color: #468847;
// $box-lite-bg-color: $main-neutral-color;
// $box-border: 1px solid $main-border-color;
// $box-margin: 0 0 10px 0;
// $box-padding: 10px;
// $box-border-radius: 5px;
// $box-bg-color: $gray-100;
// $box-list-bg-color: $gray-100;
// $box-list-border: 1px solid $main-border-color;
// $box-list-padding: 0;
// $box-list-item-border-bottom: 1px dotted $gray-500;
// $box-list-item-text-color: $gray-800;
// $box-list-item-text-size: 16px;
// $box-list-item-padding: 14px 42px 14px 20px;
// $box-list-item-text-shadow: 0 1px 0 $main-text-shadow-color;
// $box-list-item-active-bg-color: #e9e9e9;
// $box-list-item-link-line-height: 25px;
// $box-list-item-link-text-decoration: none;


// > Bubble
// ----------------------------------------------------------------
// $bubble-bg-color: $error-bg-color;
// $bubble-border-color: #eed3d7;
// $bubble-border: 1px solid $bubble-border-color;
// $bubble-text-size: $font__smaller;
// $bubble-padding: 5px 5px 5px 25px;
// $bubble-icon-error-top: 2px;
// $bubble-icon-error-left: 0px;


// > Buttons
// ----------------------------------------------------------------
// $btn-text-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
// $btn-border-radius: 4px;
// $btn-box-shadow: none;
// $btn-text-decoration: none;
// $btn-text-size: $font__large;
// $btn-large-text-size: $font__x__large;
// $btn-cursor: pointer;
// $btn-primary-text-color: $main-neutral-color;
// $btn-primary-bg-color: #3e52a1;
// $btn-primary-bg-color-secondary: #2d3277;
// $btn-primary-active: #29358f;
// $btn-primary-border: 1px solid #2d3277;
// $btn-primary-shadow: #8ea2df;
// $btn-primary-box-shadow: 0 1px 0 #7a89e8 inset;
// $btn-primary-box-hover: #4051d0;
// $btn-primary-box-hover-bg-color: #4355d2;
// $btn-primary-box-hover-bg-color-secondary: #2f33ae;
// $btn-primary-hover-box-shadow: 0 1px 0 #7a89e8 inset;
// $btn-primary-active-bg-color: #292f66;
// $btn-primary-active-bg-color-secondary: #202388;
// $btn-primary-active-border: #181e39;
// $btn-primary-active-box-shadow: 0 1px 6px #141452 inset;
// $btn-secondary-text-color: #476274;
// $btn-secondary-bg-color: #cce3f7;
// $btn-secondary-bg-color-secondary: #aaD0ef;
// $btn-secondary-border: 1px solid #79a8c7;
// $btn-secondary-active: #7c9cB2;
// $btn-secondary-shadow: none;
// $btn-secondary-box-shadow: 0 1px 0 #e5f2fc inset;
// $btn-secondary-text-shadow: 0 1px 1px $main-text-shadow-color;
// $btn-secondary-hover-bg-color: #dcecfb;
// $btn-secondary-hover-bg-color-secondary: #c5dff5;
// $btn-secondary-hover-box-shadow: 0 1px 0 #e5f2fc inset;
// $btn-secondary-active-bg-color: #a2c9e1;
// $btn-secondary-active-bg-color-secondary: #7ab6dc;
// $btn-secondary-shadow-active: #476274;
// $btn-secondary-border-active: #79a8c7;
// $btn-secondary-active-box-shadow: 0 1px 6px #476274 inset;
// $btn-disabled-bg-color: $gray-50;
// $btn-disabled-bg-color-secondary: $gray-400;
// $btn-disabled-border: 1px solid $gray-500;
// $btn-disabled-text-shadow: none;
// $btn-disabled-text-color: $gray-700;
// $btn-disabled-opacity: 0.5;
// $btn-disabled-box-shadow: 0 1px 1px $main-neutral-color;
// $btn-outline-style: thin dotted;
// $btn-outline: 5px auto -webkit-focus-ring-color;
// $btn-outline-offset: -2px;
// $btn-padding: 7px 14px;
// $btn-line-height: 1.4em;
// $btn-small-line-height: 1.4em;
// $btn-small-padding: 5px 10px;
// $btn-small-text-size: 13px;
// $btn-large-line-height: 1.5em;
// $btn-action-color: #666;
// $btn-action-text-shadow: 0 1px 1px $main-text-shadow-color;
// $btn-action-box-shadow: 0 1px 0 $main-neutral-color;
// $btn-action-bg-color: $gray-400;
// $btn-action-bottom-bg-color: $gray-500;
// $btn-action-active: #116DC4;
// $btn-action-border: #bbb;
// $btn-action-hover-bg-color: $main-neutral-color;
// $btn-action-hover-bottom-bg-color: $gray-400;
// $btn-action-active-box-shadow: 0 1px 6px $main-text-shadow-color;
// $btn-action-active-bg-color: $gray-600;
// $btn-action-active-bottom-bg-color: $gray-500;
// $btn-action-shadow-active: $gray-700;
// $btn-action-border-active: $gray-700;


// > Calendar
// ----------------------------------------------------------------
// $calendar-border: 1px solid $main-border-color;
// $calendar-text-align: center;
// $calendar-title-bg-color: $gray-100;
// $calendar-title-shadow: 0 1px 0 $main-neutral-color;
// $calendar-day-cursor: default;
// $calendar-day-today-bg-color: #fefbd6;
// $calendar-day-empty-color: $gray-500;
// $calendar-day-empty-cursor: default;
// $calendar-day-disabled-bg-color: $main-neutral-color;
// $calendar-day-disabled-text-color: $gray-500;
// $calendar-day-selected-bg-color: $gray-700;
// $calendar-day-selected-text-color: $main-neutral-color;
// $calendar-day-selected-text-weight: bold;
// $calendar-head-control-pointer: pointer;
// $calendar-head-control-icon-color: $gray-800;
// $calendar-head-control-icon-shadow: 0 1px $main-neutral-color;
// $calendar-head-control-prev-icon-position: 15px;
// $calendar-head-control-next-icon-position: 15px;
// $calendar-text-size: $font__smaller;
// $calendar-width: 240px;
// $calendar-title-text-size: $font__normal;
// $calendar-title-line-heigth: 28px;
// $calendar-day-height: 26px;
// $calendar-day-line-height: 26px;
// $calendar-head-text-size: $font__smallest;
// $calendar-head-text-weight: normal;
// $calendar-head-control-padding: 0px 20px;
// $calendar-head-control-height: 28px;
// $calendar-head-control-line-height: 18px;
// $calendar-head-control-font-size: .9em;


// > Carousel
// ----------------------------------------------------------------
// $carousel-mask: 0 50px;
// $carousel-control-cursor: pointer;
// $carousel-control-color: $gray-800;
// $carousel-control-font-size: 2em;
// $carousel-control-line-height: 3.3em;
// $carousel-control-hover: 0.7;
// $carousel-pagination-bg-color: $gray-100;
// $carousel-pagination-shadow: inset 1px 1px $gray-700;
// $carousel-pagination-selected-bg-color: #16232f;
// $carousel-control-margin: -40px 0 0 0;
// $carousel-control-vertical-position: 50%;
// $carousel-control-width: 47px;
// $carousel-control-height: 80px;
// $carousel-control-position: 17px;
// $carousel-pagination-width: 10px;
// $carousel-pagination-height: 10px;
// $carousel-pagination-margin: 10px 5px;


// > Close
// ----------------------------------------------------------------
// $close-button-width: 21px;
// $close-button-height: 21px;
// $close-button-bg-color: transparent;
// $close-button-cursor: pointer;
// $close-button-text-indent: 0;
// $close-button-font-family: Arial, sans-serif;
// $close-button-font-size: 22px;
// $close-button-line-height: $close-button-height;
// $close-button-active-text-color: $main-neutral-color;
// $close-button-active-bg-color: #bf0602;
// $close-button-active-bg-color-secondary: #8f2f00;
// $close-button-focus-hover-text-color: $main-neutral-color;
// $close-button-focus-hover-bg-color: #fA5900;
// $close-button-focus-hover-bg-color-secondary: #ca0c02;
// $close-button-border: 1px solid $main-border-color;
// $close-button-border-radius: 3px;
// $close-button-position-right: 10px;
// $close-button-position-top: 10px;
// $close-button-text-shadow: 0 1px 0 rgba(0,0,0,.5);


// > Datagrid
// ----------------------------------------------------------------
// $table-border: 1px solid $main-border-color;
// $table-text-align: left;
// $table-title-text-align: left;
// $table-title-text-weight: normal;
// $table-header-bg-color: $gray-100;
// $table-header-row-border: 1px solid $main-border-color;
// $table-header-row-border-left: 1px solid $main-border-color;
// $table-header-row-text-align: left;
// $table-header-row-text-shadow: 0 1px 0 $main-neutral-color;
// $table-header-row-v-align: middle;
// $table-header-row-color: #666;
// $table-row-selected-bg-color: $main-secondary-color;
// $table-row-border: 1px solid $main-border-color;
// $table-header-controls-bg-color: $gray-50;
// $table-header-controls-bg-color-secondary: $gray-200;
// $table-header-controls-hover-bg-color: $gray-50;
// $table-header-controls-active-bg-color: $gray-400;
// $table-header-controls-active-border: 1px solid $main-border-color;
// $table-title-margin: 10px 0;
// $table-title-text-size: $font__large;
// $table-header-row-text-size: $font__smallest;
// $table-header-row-line-height: 26px;
// $table-header-row-padding: 0 10px;
// $table-row-selected-height: 40px;
// $table-row-selected-padding: 0 10px;
// $table-row-selected-v-align: middle;


// > Dropdown
// ----------------------------------------------------------------
// $list-item-color: $main-neutral-accent-color;
// $list-item-decoration: none;
// $list-item-focus-bg-color: #fefbd6;
// $list-item-focus-outline: none;
// $trigger-active-bg-color: #7ab6dc;
// $trigger-active-bg-color-top: #a2c9e1;
// $trigger-active-border-color: #79a8c7;
// $trigger-active-border-radius: 3px 3px 0 0;
// $trigger-active-border: $main-border-color;
// $trigger-active-box-shadow: 0 1px 6px rgba(71, 98, 116, .6);
// $skin-list-item-bg-color: none;
// $skin-list-item-color: $main-primary-color;
// $trigger-skin-bg-color: transparent;
// $trigger-skin-border: 1px solid transparent;
// $trigger-skin-border-radius: 0;
// $trigger-skin-text-color: $main-primary-color;
// $trigger-skin-text-decoration: none;
// $trigger-skin-after-text-color: $gray-700;
// $trigger-skin-active-text-color: #00d;
// $trigger-on-skin-bg-color: $main-neutral-color;
// $trigger-on-skin-border: $gray-400;
// $trigger-on-skin-border-radius: 0;
// $trigger-on-skin-box-shadow: 2px 0 0 rgba(100, 100, 100, .2);
// $dropdown-trigger-cursor: pointer;
// $dropdown-trigger-padding: 5px 2em 5px 8px;
// $dropdown-border-radius: 0 5px 5px;
// $dropdown-box-shadow: inset 2px 2px 2px rgba(100, 100, 100, .2);
// $box-content-min-width: 120px;
// $list-item-height: 25px;
// $list-item-line-height: 25px;
// $list-item-margin: 5px 0;
// $list-item-padding: 2px 35px 2px 10px;
// $skin-box-padding: 5px 10px;
// $skin-list-item-margin: 5px 0;
// $skin-list-item-line-height: 20px;
// $skin-list-item-padding: 0;
// $trigger-skin-padding: 0 28px 0 13px;
// $trigger-skin-border-width: 0 1px;


// > Form
// ----------------------------------------------------------------
// $fieldset-border: none;
// $fieldset-margin: 0;
// $fieldset-padding: 0;
// $legend-margin: 0;
// $legend-padding: 8px;
// $form-actions-text-align: left;
// $generic-input-border: 1px solid $gray-500;
// $generic-input-padding: 6px;
// $generic-input-focus-border: 2px solid $gray-700;
// $generic-input-focus-padding: 5px;
// $input-options-focus-outline: 1px dotted $gray-700;
// $input-options-subtitle-margin: 0 0 15px -20px;
// $input-required-options-subtitle-font-weight: bold;
// $input-options-label-padding: 0 0 0 22px;
// $input-options-label-margin: 0;
// $input-radio-margin: -9px 0 0 0;
// $input-checkbox-margin: -8px 0 0 0;
// $input-read-only-border: none;
// $input-read-only-padding: 5px 0;
// $input-inner-icon-opacity: .3;
// $input-inner-icon-focus-opacity: .7;
// $input-inner-icon-padding-right: 24px;
// $input-big-inner-icon-padding-right: 30px;
// $input-big-inner-icon-focus-padding-right: 29px;
// $icon-required-position: 3px;
// $form-fieldset-margin: 0 0 10px 0;
// $fieldset-title-text-color: #dc7b1c;
// $fieldset-title-text-weight: bold;
// $fieldset-subtitle-text-size: 13px;
// $fieldset-subtitle-text-weight: 700;
// $form-hint-text-color: $gray-700;
// $form-hint-text-size: 12px;
// $form-hint-line-heigth: 12px;
// $input-row-padding: 5px 0;
// $input-row-label-padding: 7px 11px 5px 0;
// $input-row-label-required-text-weight: bold;
// $input-select-multiple-margin: 10px 0 0 0;
// $input-disabled-label-color: $gray-700;
// $input-disabled-bg-color: $gray-100;
// $input-big-padding: 12px 10px;
// $input-big-margin: 5px 0;
// $input-big-border-radius: 3px;
// $input-big-focus-padding: 11px 9px;
// $input-error-border-color: #f99;
// $input-error-focus-border-width: 2px;
// $generic-input-text-size: 16px;
// $generic-input-line-height: 22px;
// $generic-input-margin: 0 0 5px 0;
// $input-options-padding: 0;
// $legend-text-size: 16px;
// $label-text-size: 14px;
// $label-padding: 2px;
// $select-height: 36px;
// $select-border-color: $gray-500;
// $select-margin: 0 0 5px 0;
// $form-text-hint-margin: 2px;
// $form-validation-message-text-color: #B94A48;
// $form-box-list-padding: 0;
// $form-box-list-label-text-size: 16px;
// $form-box-list-label-padding: 14px 0 14px 38px;


// > Icons
// ----------------------------------------------------------------
// $icon-medium: 19px;
// $icon-large: 26px;
// $icon-larger: 34px;
// $icon-largest: 66px;
// $icon-medium-box: 16px;
// $icon-large-box: 24px;
// $icon-larger-box: 32px;
// $icon-largest-box: 64px;


// > Layer
// ----------------------------------------------------------------
// $layer-box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);


// > Lists
// ----------------------------------------------------------------
// $unordered-list-icon: disc inside;
// $ordered-list-icon: decimal inside;
// $list-margin: 0 0 10px 0;
// $definition-list-margin: 0 0 18px 0;
// $definition-description-margin: 5px 0 10px 10px;
// $definition-term-text-weight: bold;
// $list-item-margin: 0 0 0 10px;
// $list-item-padding: 3px 0;
// $list-item-line-height: 18px;
// $definition-list-elements-line-height: 18px;


// > Modal
// ----------------------------------------------------------------
// $modal-underlay-bg-color: rgba(0, 0, 0, .5);
// $modal-box-shadow: 0 3px 14px $gray-900;
// $modal-padding: 20px;
// $modal-lite-padding: 40px;
// $modal-lite-title-margin: 0;
// $modal-bg-color: $main-neutral-color;
// $modal-content-bg-color: $main-neutral-accent-color;


// > Pagination
// ----------------------------------------------------------------
// $pagination-page-bg-color: $main-neutral-color;
// $pagination-page-border: 1px solid $main-border-color;
// $pagination-current-page-border: 1px solid $gray-200;
// $pagination-current-page-bg-color: $gray-100;
// $pagination-current-page-text-color: $gray-800;
// $pagination-padding: 0;
// $pagination-margin: 10px 0;
// $pagination-page-margin: 0 4px;
// $pagination-page-border-radius: 3px;
// $pagination-page-padding: 5px 8px;


// > Popover
// ----------------------------------------------------------------
// $popover-box-shadow: 2px 2px 2px rgba(100, 100, 100, .2);
// $popover-close-btn-margin: 0 24px 0 0;
// $popover-border-width: 1px;
// $popover-cone-size: 10px;
// $popover-border-color: $main-border-color;
// $popover-content-bg-color: $main-neutral-color;


// > Reset
// ----------------------------------------------------------------
// $theme-body-font-size: 14px;
$theme-body-line-height: 1.45;
// $theme-body-font-family: "Roboto", "Helvetica Neue", Helvetica, "Arial", sans-serif;
// $theme-body-padding: 0 10px;
// $theme-body-bg-color: #fff;
// $theme-text-color: #333;
// $theme-horizontal-line: 1px dashed #ccc;
// $theme-paragraph-spacing: 1em 0 0 0;


// > Tooltip
// ----------------------------------------------------------------
// $tooltip-bg-color: #fcf8e3;
// $tooltip-border-color: #fbeed5;
// $tooltip-text-color: #aa8749;
// $tooltip-padding: 8px 10px;
// $tooltip-border-radius: 5px;


// > Transition
// ----------------------------------------------------------------
// $transition-padding: 40px;
// $transition-box-shadow: 0 3px 14px $gray-900;


// > Typography
// ----------------------------------------------------------------
$headings-margin: 0 0 14px;
// $headings-text-weight: normal;
// $headings-boxes-margin-top: 0;
$heading-h1: 26px;
$heading-h2: 22px;
$heading-h3: 20px;
$heading-h4: 16px;
$heading-h5: 15px;
$heading-h6: 14px;
// $links-visited-text-decoration: underline;
// $links-visited-color: #809;
// $price-color: #900;


// > Expandable
// ----------------------------------------------------------------
// $expandable-cursor: pointer;
// $expandable-text-color: $gray-800;
// $expandable-text-size: $font__medium;
// $expandable-text-weight: 400;
// $expandable-text-shadow: 0 1px 0 $main-text-shadow-color;
// $expandable-bg-color: $gray-100;
// $expandable-border: 1px solid $gray-400;
// $expandable-border-radius: 5px;
// $expandable-icon-text-size: 19px;
// $expandable-icon-text-color: $gray-700;
// $expandable-icon-active-text-color: $gray-900;
// $expandable-list-text-size: $font__x__small;
// $expandable-list-link-text-color: $gray-900;
// $expandable-content-bg-color: $main-neutral-color;
// $expandable-padding: 14px 40px 14px 20px;
// $expandable-content-margin: 0;
// $expandable-content-padding: 14px 20px;
// $expandable-content-border: 1px solid #e8e8e8;
// $expandable-list-padding: 0;


// > Menu
// ----------------------------------------------------------------
// $menu-border: 1px solid $main-border-color;
// $menu-border-radius: 5px;
// $menu-row-border-bottom: 1px dotted $gray-500;
// $menu-row-icon-color: $gray-700;
// $menu-list-border-bottom: 1px solid $main-border-color;


// > Tags
// ----------------------------------------------------------------
// $tag-bg-color: $gray-100;
// $tag-border: 1px solid $main-border-color;
// $tag-border-radius: 5px;
// $tag-text-color: $gray-800;
// $tag-text-size: 14px;
// $tag-margin: 4px 0 0;
// $tag-padding: 3px 30px 3px 10px;
// $tag-text-shadow: 0 1px 1px $main-neutral-color;
// $tag-active-bg-color: $gray-200;
// $tag-icon-margin: -9px 0 0 0;
// $tag-icon-color: $gray-700;


